html {
	font-size: 16px;
}

body {
	font-size: calc(14px + 0.5vw);
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	color: #333;
}

h1 {
	font-size: calc(24px + 1vw);
}

h2 {
	font-size: calc(20px + 0.8vw);
	text-align: center;
}

p {
	font-size: calc(14px + 0.3vw);
}

.section {
	transition: opacity 0.5s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

/* Responsive */
@media ( max-width : 1220px) {
	/* .intention .intention-items, .introduce .introduce-items, .teamMember .teamMember-items, .effect .effect-items {
        flex-direction: column;
        align-items: center;
    }
    .intention .item, .introduce .item, .teamMember .item, .effect .item {
        width: 80%;
        margin-bottom: 2rem;
    } */
}

@media ( max-width : 768px) { /* .header .nav ul {
        flex-direction: column;
        align-items: center;
    }
    .hero video {
        height: 70vh;
    }
    .intention .intention-items, .introduce .introduce-items, .teamMember .teamMember-items, .effect .effect-items {
        flex-direction: column;
    }
    .intention .item, .introduce .item, .teamMember .item, .effect .item {
        width: 100%;
    } */
}

@media ( max-width : 480px) { /* .header .nav ul {
        flex-direction: column;
        align-items: center;
    }
    .intention .philosophy-items, .introduce .introduce-items, .teamMember .teamMember-items, .effect .effect-items {
        flex-direction: column;
    }
    .intention .item, .introduce .item, .teamMember .item, .effect .item {
        width: 100%;
    } */
}

/* Flexbox를 사용하여 요소를 좌우로 배치, 섹션1 */
.sec1title {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4em;
	position: absolute; /* position을 absolute로 설정하여 위치를 직접 조정 */
	top: 19.5%; /* 상단에 위치 */
	left: 17%; /* 왼쪽에 위치 */
	margin: 20px; /* 원하는 여백 설정 */
	text-align: left; /* 텍스트 정렬을 왼쪽으로 설정 */
}

.sec1titleline1 {
	font-size: 42px;
	font-weight: 600;
}

.predict-calculator {
	display: flex;
	justify-content: space-between; /* 좌우로 공간을 분배 */
	align-items: flex-start; /* 상단 정렬 */
}

.predict-calculator .form-container, .section-container .text-container
	{
	width: 50%; /* 각 요소가 부모의 50%를 차지하도록 설정 */
}

.form-container {
	width: 50%; /* 너비 조정 */
	padding: 10px;
	box-sizing: border-box; /* 테두리와 패딩을 너비에 포함 */
}

.calculator {
	margin-left: auto; /* 테이블을 오른쪽으로 이동 */
	margin-right: 0;
	width: auto; /* 테이블의 너비를 자동으로 설정 */
}

.text-container {
	text-align: left; /* 텍스트 정렬을 왼쪽으로 설정 */
}

.textConTop {
	/*margin: 0; /* 기본 여백 제거 */
	/*padding: 0; /* 기본 패딩 제거 */
	text-align: left; /* 텍스트 정렬을 왼쪽으로 설정 */
	line-height: 5px; /* 행간을 조정, 스팬 태그 행간이 너무 멀어서 줄이기 위함.*/
}

.textConTop hr {
	width: 50%; /* <hr>의 너비를 화면의 50%로 설정 */
	margin: 10px 0; /* 상하 여백 설정 */
	border: 0; /* 기본 테두리 제거 */
	border-top: 4px solid black; /* 두껍고 검정색의 상단 테두리 설정 */
}

.text-container img {
	width: 100%; /* 이미지가 컨테이너에 맞게 조절되도록 설정 */
	height: auto;
}

/* 줄 간격 및 내부 여백 설정 */
/*.form-container fieldset {
	width: 100%; /* form-container에 맞게 설정 */
/*box-sizing: border-box;
}
필드셋에다가 계산기 만들어 놨었는데 테이블로 바꿈*/

/* 전체 테이블 스타일링 */
table {
	/*justyfiy-content: right;*/
	/*width: 50%;*/
	table-layout: fixed;
	/*테이블 크기 변경 막기 - 근데 작동이 안됨. 반응형으로 테이블 크기가 변하고 있음.*/
	border-collapse: collapse; /* 테두리 겹침 방지 */
	/*font-size: 16px;*/
	background-color: white;
	/*margin-top:10%*/
}

.form-container, .text-container {
	width: 48%; /* 양쪽 컨테이너가 동일한 너비를 가짐 */
	box-sizing: border-box; /* 테두리와 패딩을 너비에 포함 */
}

.text-container {
	/* 너비를 form-container와 맞추기 위한 설정 */
	max-width: 48%; /* 최대 너비를 form-container와 일치시킴 */
	text-align: left; /* 텍스트 정렬을 왼쪽으로 설정 */
}

/* 헤더 스타일링 */
thead {
	background-color: #36599e; /* 짙은 회색 배경 -> 짙은 푸른색 계열 */
	color: #fff; /* 흰색 글자 */
}

thead th {
	text-align: left; /* 왼쪽 정렬 */
	padding: 8px; /* 셀 내부 여백 */
	background-color: #333; /* 짙은 회색 배경 */
	color: #fff; /* 흰색 글자 */
	border: 1px solid #333; /* 배경과 동일한 색상의 테두리 */
}

/* 헤더의 전체 행 스타일링 */
thead tr {
	border-bottom: 1px solid #333; /* 헤더 아래에 동일한 색상의 얇은 선 추가 */
}

/* 일반 셀 스타일링 */
td, th {
	border: 1px solid #ddd; /* 일반 테두리 색상 */
	padding: 8px; /* 셀 내부 여백 */
}

.3dScatterPlot {
	width: 80%;
}

#sec1backgroundbox {
	background-color: #FFE4B5; /* 원하는 배경색으로 설정 */
	position: absolute; /* 배경색을 정확하게 설정하기 위해 position absolute */
	top: 27%; /*상단 경계가 부모 요소와 붙어 있게 함. 0일때.*/
	left: 0;
	width: 100%;
	height: 80%;
	z-index: -1; /* 배경이 컨텐츠 뒤에 가도록 설정 */
}

#boxTopLine {
	
}

/*섹션 2*/
#sec2backgroundbox {
	background-color: #FFE4B5; /* 원하는 배경색으로 설정 */
	position: absolute; /* 배경색을 정확하게 설정하기 위해 position absolute */
	top: 5%; /*상단 경계가 부모 요소와 붙어 있게 함. 0일때.*/
	left: 0;
	width: 100%;
	height: 95%;
	z-index: -1; /* 배경이 컨텐츠 뒤에 가도록 설정 */
}

.sec2text {
	font-size: 12px;
	margin-left: 3%;
}

/* 필요시 텍스트 요소의 마진을 조정해 겹침 방지 */
.sec2text p {
	margin-top: 20px; /* 마진을 추가하여 겹침 방지 */
	margin-left: 20px;
}

#sec2Line {
	width: 66%;
	margin-right: 45%;
	margin-bottom: 20px;
}

.model-introduce {
	display: flex;
	justify-content: space-between; /* 좌우로 공간을 분배 */
	/*align-items: flex-start;*/ /* 상단 정렬 */
	/* 기존 align-items: flex-start; 대신 center를 사용 */
	align-items: center;
	/* 부모 요소의 높이를 늘려서 충분한 공간 확보 */
	min-height: 100vh;
}

.model-introduce .sec2leftImages {
	margin-left: 25%;
	width: 32%; /* 왼쪽 요소가 부모의 28%를 차지하도록 설정 */
}

.model-introduce .section-container .sec2text {
	margin-left: 600px;
	width: 66%; /* 오른쪽 요소가 부모의 71%를 차지하도록 설정 */
}

.equation {
	font-family: 'Cambria Math', 'Times Ne	w Roman', serif;
	font-size: 20px;
	font-style: italic;
	line-height: 1.5;
	margin-right: 15%;
}

.equation sup {
	font-size: 16px;
}





/* 섹션 3 */
.sec3Plots {
    text-align: center;
}

.item {
    width: 20%; /* 너비를 더 넓게 설정하여 중앙 정렬 */
    display: inline-block;
    vertical-align: top; /* 이미지를 중앙에 맞추기 위해 수직 정렬 */
    margin: 0 1%; /* 아이템들 간의 간격 */
}

.effect img {
    height: auto;
    object-fit: cover;
}

.effect .effect-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem; /* 이미지들 간의 간격 추가 */
}

.effect .item img {
    height: 300px; /* 이미지 높이를 줄여서 보기 좋게 조정 */
    width: 100%;
}

.effect .item {
    margin-right: 0.7rem;
    position: relative;
}

.effect h2 {
    margin-top: 0;
    text-align: center;
}

p {
    margin-top: 1rem;
    text-align: center;
}



/*섹션 4*/
.chart-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* 3개의 열로 구성 */
	grid-template-rows: 1fr 1fr; /*2개의 행으로 구성*/
	gap: 20px; /* 차트 간의 간격 */
	justify-contents: center; /* 차트를 그리드 셀 내에서 가운데 정렬 */
}

#chartIndex{
	justify-contents: start;
}



#chartContainer
 {
    width: 600px;
    height: 400px;
}

.sec4Line{
	width: 15%;
}

