html {
    font-size: 16px;
}

body {
    font-size: calc(14px + 0.5vw);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

h2 {
    font-size: calc(20px + 0.8vw);
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
}

p {
    font-size: calc(14px + 0.3vw);
}

.section {
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.prediction {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    animation: fadeBackground 2s forwards;
}

@keyframes fadeBackground {
    0% {
        background-color: #fff;
    }
    100% {
        background-color: #EAEAEA;
    }
}

.prediction-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.prediction .item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 200px;
    max-width: 45%;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.prediction .item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.prediction .item p {
    font-size: 14px;
    line-height: 1.5;
}

.reference {
	background-color: #EAEAEA;
}
/* reference section: 3x3 grid layout */
.reference-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px; /* 아이템들 간의 간격 설정 */
    justify-items: center; /* 아이템들을 그리드 셀 안에서 중앙에 배치 */
    align-items: center; /* 아이템들을 세로로 중앙에 배치 */
    padding: 20px;
}

.reference .item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    width: 300px;
    height: 150px;
    margin: 20px;
}

.reference .item:hover {
    transform: translateY(0) scale(1.05); /* 크기를 약간 키움 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과를 더 강하게 */
}

.prediction .item:hover {
    transform: translateY(0) scale(1.05); /* 크기를 약간 키움 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과를 더 강하게 */
}



/* Responsive design for reference section */
@media (max-width: 768px) {
    .reference-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .reference-items {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1220px) {
    .container {
        width: 95%;
    }
    .prediction .prediction-items {
        flex-direction: column;
        align-items: center;
    }
    .prediction .item {
        width: 80%;
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .prediction .prediction-items {
        flex-direction: column;
    }
    .prediction .item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .prediction .prediction-items {
        flex-direction: column;
    }
    .prediction .item {
        width: 100%;
    }
}

#threejs-container {
    width: 100%;
    height: 800px; /* 캔버스 높이를 600px로 증가 */
    position: relative;
    background-color: transparent; /* 컨테이너 배경색을 투명으로 설정 */
    padding: 0;
    margin: 0;
}

#threejs-canvas {
    width: 100%;
    height: 100%;
    display: block;
}


